<% provide(:title, 'About') %>


  <div class="container-fluid">
      <div class="row-fluid">
       
        <div class="span3">
          <div class="well sidebar-nav float">
            <ul class="nav nav-list">
              <li class="nav-header">关于CourseSalon</li>
              <li class="active"><a href="#target">愿景</a></li>
              <li><a href="#instruction">使用说明</a></li>
              <li><a href="#log">开发日志</a></li>
              <hr>
              <li class="nav-header">关于作者</li>
              <li><a href="#blog">作者博客</a></li>
              <li><a href="#contact">联系作者</a></li>
              <hr>
              <li class="nav-header">相关声明</li>
              <li><a href="#private">隐私条款</a></li>
              <li><a href="#notice">免责声明</a></li>
            </ul>
          </div><!--/.well -->
       
        </div><!--/span-->
        <div class="span9">
          <br>
          <br>
          <br>
       		<h4>关于CourseSalon</h4>
       		<h5 name="target" id="target">愿景</h5>
       		<p>大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.</p>
          <br>
       		<h5 name="instruction" id="instruction">使用说明</h5>
       		<p>的发的发的发但是大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.发第三方啊是否</p>
       		<br>
          <h5 name="log" id="log">开发日志</h5>
          <p>的发的发的发但是发第三方啊是否大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.</p>
       		
          <hr>

       		<h4>关于我</h4>
       		<h5 name="blog" id="blog">作者博客</h5>
       		<p>大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.</p>
          <br>
       		<h5 name="contact" id="contact">联系我</h5>
       		<p>的发的发的大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.发但是发第三方啊是否</p>

          <hr>

       		<h4>相关声明</h4>
       		<h5 name="private" id="private">隐私条款</h5>
       		<p>大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.</p>
          <br>
       		<h5 name="notice" id="notice">免责声明</h5>
       		<p>的发的发的发但是发第三方啊是大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.否</p>

        </div><!--/span-->
      </div><!--/row-->
