<% provide(:title, 'About') %>


  <div class="container-fluid">
      <div class="row-fluid">
       
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">关于CourseSalon</li>
              <li class="active"><a href="#">愿景</a></li>
              <li><a href="#">使用说明</a></li>
              <li><a href="#">开发日志</a></li>
              <li class="nav-header">关于我</li>
              <li><a href="#">作者博客</a></li>
              <li><a href="#"></a></li>
              <li><a href="#">联系我</a></li>
              <li class="nav-header">相关声明</li>
              <li><a href="#">隐私条款</a></li>
              <li><a href="#">免责声明</a></li>
            </ul>
          </div><!--/.well -->
       
        </div><!--/span-->
        <div class="span9">
       		<h2>关于CourseSalon</h2>
       		<h3>愿景</h3>
       		<p>大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊</p>
       		<h3>使用说明</h3>
       		<p>的发的发的发但是发第三方啊是否</p>
       		<h3>开发日志</h3>
       		<p>的发的发的发但是发第三方啊是否</p>
       		
       		<h2>关于我</h2>
       		<h3>作者博客</h3>
       		<p>大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊</p>
       		<h3>联系我</h3>
       		<p>的发的发的发但是发第三方啊是否</p>

       		<h2>相关声明</h2>
       		<h3>隐私条款</h3>
       		<p>大幅度啊地方啊的发的发啊第三方打算发达是范德萨发达是发达是发啊</p>
       		<h3>免责声明</h3>
       		<p>的发的发的发但是发第三方啊是否</p>

        </div><!--/span-->
      </div><!--/row-->
