<% provide(:title, 'Home') %>

<div class="container-narrow">

      <div class="jumbotron">
        <h1>CourseSalon, kindle your online class!</h1>
        <p class="lead">课程沙龙，致力于社会化的线上教育平台。第二课堂，从这里开始。<%= link_to "Learn more", about_path %></p>
        <a class="btn btn-large btn-success" href="/signup">Sign up</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>课程</h4>
          <p>教师用户创建课程，发布课程信息。学生用户通过访问课程页面，查看课程信息。</p>

          <h4>问答(后续功能)</h4>
          <p>提供问答功能。学生在课程页面提问累计活跃积分，教师用户通过回答累计积分。</p>
        </div>

        <div class="span6">
          <h4>社交</h4>
          <p>学生用户，教师用户之间可以进行社交，通过关注其他用户，得到其他用户发布的信息及更新。</p>

          <h4>小组(后续功能)</h4>
          <p>用户可以自行创建小组，组内提供讨论等功能。</p>
        </div>
</div>

<p class="pull-right"><a href="#">Back to top</a></p>