<% provide(:title, 'Sing up') %>

<!--这段代码试着用Rails的form_for改写之后， placeholder显示问题没有解决-->
<form accept-charset="UTF-8" action="/users" method="post" class="form-signin">
    
     <% if @user.errors.any? %>
    <div class="alert alert-error">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <h2 class="form-signin-heading">Sign up</h2>
    
    <hr>

    <label>I am a:</label>
    <input type="radio" name="user[role]" value="0" class="btn btn-primary"> <span class="label label-success">teacher</span></input>
    <br>
    <input type="radio" name="user[role]" value="1" class="btn btn-primary"/> <span class="label label-info">student</span> </input>
    <br/><br/>

    <label>Name: </label>
    <input name="user[name]" type="text" class="input-block-level" placeholder="less than 30 digits">
    
    <label>Email: </label>
    <input name="user[email]" type="text" class="input-block-level" placeholder="xxx@xxx.com">
    
    <label>Password: </label>
    <input name="user[password]"type="password" class="input-block-level" placeholder="at least 5 digits">

    <label>Confirm: </label>
	<input name="user[password_confirmation]"type="password" class="input-block-level" placeholder="confirm your password">
    
    <button class="btn btn-large btn-success" type="submit">Sign up</button>
</form>