<!--这个页面参考http://twitter.github.com/bootstrap/getting-started.html-->
<% provide(:title, 'About') %>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Getting started</h1>
    <p class="lead">Overview of the project, its contents, and how to get started with a simple template.</p>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#download-bootstrap"><i class="icon-chevron-right"></i>关于CourseSalon</a></li>
          <li><a href="#contents"><i class="icon-chevron-right"></i> 隐私条款</a></li>
          <li><a href="#file-structure"><i class="icon-chevron-right"></i>关于CourseSalon</a></li>
        </ul>
      </div>
      <div class="span9">



        <!-- 关于课程沙龙
        ================================================== -->
        <section id="about-coursesalon">
          <div class="page-header">
            <h1>1. 关于 CourseSalon</h1>
          </div>
          <p class="lead">Before downloading, be sure to have a code editor (we recommend <a href="http://sublimetext.com/2">Sublime Text 2</a>) and some working knowledge of HTML and CSS. We won't walk through the source files here, but they are available for download. We'll focus on getting started with the compiled Bootstrap files.</p>
        </section>

  </div>